<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927312091932-eeikam2qc9sn4b5e5m0ibnsj8qhjauj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927312091932-eeikam2qc9sn4b5e5m0ibnsj8qhjauj7</string>
	<key>API_KEY</key>
	<string>AIzaSyB6AbA6PRcfznTz7VVmEIpyBXR9EYyeEoQ</string>
	<key>GCM_SENDER_ID</key>
	<string>927312091932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cheonhamujeok.Atchi</string>
	<key>PROJECT_ID</key>
	<string>atchi-eed37</string>
	<key>STORAGE_BUCKET</key>
	<string>atchi-eed37.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927312091932:ios:53247c487c474740cbf8d9</string>
</dict>
</plist>