<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>치매란 무엇인가요?</string>
		<key>imageName</key>
		<string>ArticlePicture1</string>
		<key>richTextfileName</key>
		<string>WhatIsDementiaArticle</string>
	</dict>
</array>
</plist>
